<!DOCTYPE html>
<html>
  <head>
    <title>TechList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'notifyjs/notify', 'data-turbolinks-track' => true %>
  </head>

  <body>


    <%= render partial: 'menu/sidebar.html.erb'%>    
    <p style="color: green;"> 
      <%= notice %>
    </p> 

    <%= yield %>

  </body>
</html>
